{% laod Static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Restaurant Homepage</title>
        <link rel="stylesheet" href="{% static 'home/style.css'%}">
       
    </head>
    <body>
        <header>
            <h1>Welcome to our Restaurant</h1>
        </header>

        <section id="menu">
            <h2>Our Menu</h2>
            <ul>
                {% for item in menu_items %}
                    <li>{{item.name}}-${{item.price}}</li>
                {% endfor %}
            </ul>
        </section>

        <section id="restaurant-address">
            <h2>Our Location</h2>
            <p>Shaik Ijaj Ahmed Restaurant, 123 Main street,Banglore,karantaka,india</p>

            <div>
                <iframe
                   src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3890.296905150332!2d77.5946!3d12.9716!2m31f0!3f0!3m2!1024!2i768!4f13.1!3m3!1m2!1s0x3bae1670fd9bc56cb%3A0x6ce5s00a0b7c9e4!2sBangloree%2c%karanataka!5e0!3m2!1sen2sin!4v15918685652105m21sen!2sin"
                   allowfullscreen=""
                   loading="lazy"
                   referrerpolicy="no-reffer-when-downgrade">
                </iframe>
            </div>
        </section>

        <section id="contact">
            <h2>Contact US</h2>
            <form method="post">
                {% csrf_token %}
                {{from.as_p}}
                <button type="submit">Send</button>
            </form>
        </section>

        <footer>
            <p>&copy;2025 Shaik Ijaj Ahmed Restaurant</p>
        </footer>
    </body>
</html>
